[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
pykube-ng = "~=22.9"
pytest = "~=6.2"
pytest-helm-charts = "~=0.7"
requests = "~=2.29"
