# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# python testing stuff
test-results/
test/**/.vscode/
test/**/__pycache__/
nginx-ingress-controller-app-*.tgz
test/**/.mypy_cache/
junit.xml
